.leftBar {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    display: flex;
  }
  
  .leftBar::-webkit-scrollbar {
    display: none;
  }
  
  @media (max-width: 768px) {
    .leftBar {
      display: none;
    }
  }
  
  .leftBar .container {
    padding: 20px;
  }
  
  .leftBar .container hr {
    margin: 20px 0px;
    border: none;
    height: 0.5px;
    
  }
  
  .leftBar .container .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .leftBar .container .menu span {
    font-size: 12px;
  }
  
  .leftBar .container .menu .user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .leftBar .container .menu .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .leftBar .container .menu .user span {
    font-size: 14px;
  }
  
  .leftBar .container .menu .item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .leftBar .container .menu .item img {
    width: 30px;
  }
  
  .leftBar .container .menu .item span {
    font-size: 14px;
  }